<header class="showcase">
    
</header>
<div class="showcase-content">
    <p class="or">Information sur mes projets Unreal Engine 4</p>
    <a id="link" routerLink="/game" class="btn btn-xl"> projet jeux vidéo<i class="fas fa-chevron-right btn-icon"></i
    ></a>
</div>

<section class="tab-content">
    <div class="container">
        <!-- Tab Content 1 -->
        <div id="tab-1-content" class="tab-content-item show">
            <div class="tab-1-content-inner">
                <div>

                    <a id="link"  href="home" class="btn btn-lg">Projet Metro</a>
                </div>
                <img src="https://image.tmdb.org/t/p/original/xXHZeb1yhJvnSHPzZDqee0zfMb6.jpg" alt=""/>
            </div>
        </div> 
        </div>

</section>

<script src="script.js"></script>